<!DOCTYPE html> <!-- Объявление формата документа -->
<html>
    <head> <!-- Техническая информация о документе -->
        <meta charset="UTF-8"> <!-- Определяем кодировку символов документа -->
        <title>Расчёт</title> <!-- Задаем заголовок документа -->
        <link rel="stylesheet" type="text/css" href="static/style.css"> <!-- Подключаем внешнюю таблицу стилей -->
        <script src="static/main.js"></script> <!-- Подключаем сценарии -->
    </head>
    <body>
        <div id="cargo-size">
            Введите размер контейнера для коробок
            <input type="text" placeholder="Ширина">
            <input type="text" placeholder="Длина">
            <input type="text" placeholder="Высота">
        </div>
        <div id="box-sizes">
            <span>Коробка 1</span>
            <input class="width" type="text" name="width" placeholder="Ширина">
            <input class="lenght" type="text" name="lenght" placeholder="Длина">
            <input class="height" type="text" name="height" placeholder="Высота">
            <input class="volume" type="text" name="volume" placeholder="Объём" readonly>
            <input type="range" id="volume" min="1" max="100" name="volume">
            <label for="volume">Количество коробок</label>
            <button id="add-box">Добавить коробку</button>
            <button id="remove-box">Убрать коробку</button>
        </div>  
        <div id="result">
            <b>Результ:</b>
        </div>
    </body>
</html>